<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>컴퓨터 제품 소개<%= computer.productName %></title>
  </head>
  <body>
    <h2>제품소개</h1>
    <img src="<%= computer.img %>" style="width: 40%; height: 40%" />
    <p>브랜드: <%= computer.brand %></p>
    <p>제품이름: <%= computer.productName %></p>
    <p>가격: <%= computer.price %></p>
  </body>
</html>
