<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품소개 -<%=computer.productName%></title>
</head>
<body>
    <h1>제품소개</h1>
    <img src="<%=computer.img%>" alt="컴퓨터 이미지" style="width: 500px;">
    <p>제품명: <%=computer.productName%></p>
    <p>가격: <%=computer.price%></p>
    <p>브랜드: <%=computer.brand%></p>
</body>
</html>