<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 정보 확인 및 수정/삭제</title>
  </head>
  <body>
    <h1>기존 게시글 확인 및 수정 삭제</h1>
    <!-- 게시글 고유번호 설정 -->
    <form action="/articles/modify/<%=article.articelIdx %>" method="post">
      제목: <input type="text" name="title" value="<%=article.title %>" />
      <%=article.title %>
      <br />
      내용:<textarea name="contents" rows="20" cols="10" style="width: 90%">
<%=article.contents %>
</textarea
      ><br />
      등록자:
      <input type="text" name="register" value="<%=article.registMemberId %>" />
      <br />
      <input type="submit" value="수정" />
      <a href="/articles/delete?aidx=<%=article.articelIdx %>">삭제</a>
      <a href="/articles">게시글 목록 이동</a>
    </form>
  </body>
</html>
